* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto Mono', monospace;
    --text-color: #CDD0D6;
    --button-remove: #E0535F;
    --button-search: #065E7C;
    --backgroud-color: #000000;
    --background-table-thead: #092D38;
    --tbody-td-odd: #030B0D;
    --tbody-td-even: #06181C;
}

body {
    font-size: 1.6rem;
    font-family: var(--ff-primary);
    background-color: var(--backgroud-color);
    color: var(--text-color);
}

.buttonRemove button {
    color: var(--button-remove);
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}

#app {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: grid;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    margin: 1.8rem 0rem;
}

.search input {
    border: none;
    width: 35rem;
    padding: 1rem 1rem;
    border-radius: 0.4rem 0 0 0.4rem;
    outline: none;
}

.search button {
    border: none;
    padding: 0rem 1.2rem;
    border-radius: 0 0.4rem 0.4rem 0;
    background-color: var(--button-search);
    color: var(--text-color);

    cursor: pointer;
}

.search button:hover {
    filter: brightness(1.2)
}

.buttonRemove button {
    color: var(--button-remove);
    font-weight: 700;
}

.buttonRemove button:hover {
    filter: contrast(1.5)
}

table {
    width: 100%;
    border-collapse: collapse;

    box-shadow: 0 1rem 2rem -1rem rgba(46, 46, 46, 0.358);
}

table * {
    font-size: 1.4rem;
}

.movieSelected {
    display: flex;
    align-items: center;
    gap: 2rem;
}

td img {
    height: 12rem;
}

thead tr {
    background-color: #092D38;
}

thead th {
    font-weight: normal;
    padding: 1.2rem;
    text-align: left;
}

thead th:first-child {
    border-top-left-radius: .9rem;
}

thead th:last-child {
    border-top-right-radius: .9rem;
}

tbody tr:nth-child(even) {
    background: var(--tbody-td-even);
}

tbody tr:nth-child(odd) {
    background: var(--tbody-td-odd);
}

tbody td {
    padding: 1.5rem;
    text-align: left;
}

tbody td:last-child {
    border-bottom-right-radius: .6rem;
}